.card-container {
    display: flex;
    margin: 10px;
    flex-direction: row;
}

.Card{
    width: 200px;
    height: 300px;
    background-color: rgb(232, 239, 22);
    border-radius: 6px;
}

img {
    height: 50%;
    margin: 20px;
}